.food-card {
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.food-card h3 {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    width: 100%;
}

.foodDetailsImg{
    width: 500px;
    height: 500px;
}
#all-food-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px ;
}

#selectedItem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    margin: auto;
}

.selectedItem{
    max-width: 25%;
}

.selectedItem h1{
    text-wrap: wrap;
    max-width: 100%;
}
.selectedItem h3{
    text-wrap: wrap;
    max-width: 100%;
}
.selectedItem img{
    width: 100%;
}
